.container {
  width: 93%;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
* {
  font-family: Helvetica, Arial;
}
h1 {
  float: left;
  width: 170px;
  height: 58px;
  text-indent: -5000px;
  background: url('../assets/FanaticBooksLogo.png') no-repeat;
  background-size: contain;
  margin-right: 10px;
}
form {
  position: relative;
}
form input[type="text"] {
  height: 40px;
  padding-left: 20px;
  font-size: 16px;
  color: #818181;
  font-weight: 100;
}
form button {
  background-color: #009dd5;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  color: #ffffff;
  border-radius: 3px;
  right: -20px;
  padding: 5px;
}
form button i.material-icon {
  font-size: 30px;
}
