<aside>
	<h2>Fiction</h2>
	<h3>Shop by genres</h3>
	<ul>
		<li *ngFor="let catTitle of subcategories">
			<b>{{ catTitle.title }}</b>
			<ul>
				<li *ngFor="let subcats of catTitle.subcategories"><a href="#">{{ subcats }}</a></li>
			</ul>
		</li>
	</ul>
	<h3>Refine by:</h3>
	<form>
		<label><input type='checkbox' name="anthologies" value="anthologies" /><div class="cbox"></div> Anthologies</label>
		<label><input type='checkbox' name="essays" value="essays" /><div class="cbox"></div>  Essays &amp; Letters</label>
		<label><input type='checkbox' name="subjects" value="subjects" /><div class="cbox"></div>  Fiction Subjects</label>
		<label><input type='checkbox' name="novels" value="novels" /><div class="cbox"></div>  Novels</label>
		<label><input type='checkbox' name="poetry" value="poetry" /><div class="cbox"></div>  Poetry</label>
		<label><input type='checkbox' name="teens" value="teens" /><div class="cbox"></div>  Teens &amp; Young Adults</label>
		<label><input type='checkbox' name="series" value="series" /><div class="cbox"></div>  Series</label>
		<label><input type='checkbox' name="short" value="short" /><div class="cbox"></div>  Short Stories</label>
	</form>
</aside>

