.container {
  width: 93%;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
* {
  font-family: Helvetica, Arial;
  opacity: 0.9;
}
h1 {
  float: left;
  width: 170px;
  height: 58px;
  text-indent: -5000px;
  background: url('../assets/FanaticBooksLogo.png') no-repeat;
  background-size: contain;
  margin-right: 10px;
}
form {
  position: relative;
}
form input[type="text"] {
  height: 40px;
  padding-left: 20px;
  font-size: 16px;
  color: #818181;
  font-weight: 100;
}
form button {
  background-color: #009dd5;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  color: #ffffff;
  border-radius: 3px;
  right: -20px;
  padding: 5px;
}
form button i.material-icon {
  font-size: 30px;
}
.content {
  float: left;
}
.content .carousel {
  margin: 30px 0 40px;
  height: 400px;
  width: 1240px;
  background-color: #064880;
}
.content .rec-list {
  margin-bottom: 65px;
}
.content .rec-list h2 {
  margin-bottom: 25px;
}
.content .rec-list ul {
  list-style-type: none;
}
.content .rec-list ul li {
  float: left;
  width: 225px;
  margin: 0 10px;
}
.content .rec-list ul li img {
  width: 100%;
}
.content .rec-list:after {
  content: '';
  display: block;
  clear: both;
}
